// mainvisual
.mainvisual{
  background: $bgc-orange-grad;
  color: $fc-black;
  padding: 160px 40px 40px;
  @include sp{
    padding: 120px 20px 40px;
  }
}
.mv__cont{
  display: flex;
  gap: 40px;
  justify-content: space-between;
  @include tab{
    gap: 24px;
  }
  @include sp{
    flex-direction: column;
  }
}
.mv__cont-text{
  width: calc(50% - 20px);
  @include tab{
    width: 60%;
  }
  @include sp{
    order: 2;
    width: 100%;
  }
}
.mv__ttl{
  font-size: 44px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.02em;
  line-height: normal;
  margin-bottom: 32px;
  max-width: 600px;
  @include tab{
    font-size: 32px;
    margin-bottom: 32px;
  }
  @include sp{
    font-size: 24px;
    margin-bottom: 16px;
  }
}
.mv__caption{
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  color: $fc-l-black;
  @include tab{
    font-size: 14px;
    margin-bottom: 32px;
  }
  @include sp{
    width: 100%;
  }
}
.mv__btn-cont{
  display: flex;
  gap: 24px;
  @include tab{
    gap: 16px;
  }
  @include sp{
    flex-wrap: wrap;
    width: 100%;
    gap: 16px;
  }
}
.mv__cont-img{
  width: calc(50% - 20px);
  @include tab{
    width: 40%;
  }
  @include sp{
    order: 1;
    width: 100%;
  }
  img{
    width: 100%;
    display: block;
  }
}
// mainvisual end

// worry
.worry{
  background-color: #fff;
  padding: 48px 40px 64px;
  @include sp{
    padding: 24px 20px;
  }
}
.worry__cont{
  display: flex;
  gap: 40px;
  align-items: center;
  @include tab{
    gap: 24px;
  }
  @include sp{
    gap: 20px;
    flex-direction: column;
  }
}
.worry__img{
  width: calc(50% - 20px);
  @include sp{
    width: 100%;
  }
  img{
    width: 100%;
    display: block;
  }
}
.worry__text{
  width: calc(50% - 20px);
  @include sp{
    width: 100%;
  }
}
.worry__list{
  li{
    vertical-align: middle;
    margin-bottom: 24px;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.75;
    display: flex;
    align-items: center;
    gap: 8px;
    @include tab{
      margin-bottom: 16px;
      font-size: 14px;
    }

    img{
      width: 32px;
      @include tab{
        width: 24px;
      }
    }
  }
}
.worry__message{
    font-size: 24px;
    letter-spacing: 0.02em;
    line-height: 1.75;
    @include tab{
      font-size: 16px;
    }
    span{
      font-size: 28px;
      color: $pc-red;
      font-weight: bold;
      @include tab{
        font-size: 20px;
      }
    }
}



// service
.service{
  padding: 48px 40px 64px;
  background: $bgc-glay-grad;
  @include sp{
    padding: 24px 20px;
  }
}
.ser__desc{
  max-width: 800px;
  margin: 0 auto 40px;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.75;
  color: $fc-l-black;
  @include tab{
    font-size: 14px;
    margin-bottom: 24px;
  }
}
.ser__card-cont{
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  @include tab{
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  @include sp{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
.ser__card{
  img{
    display: block;
    margin: 0 auto 12px;
    width: 56px;
  }
  .ser__card-ttl{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 12px;
    text-align: center;
    @include tab{
      font-size: 16px;
    }
  }
  .ser__card-text{
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 2;
    color: $fc-l-black;
  }
}
// service end

// select
.select{
  padding: 48px 40px 64px;
  background: $bgc-orange-grad;
  @include sp{
    padding: 24px 20px;
  }
}
.sele__cont{
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  @include tab{
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
  @include sp{
    gap: 24px;
    grid-template-columns: repeat(1, 1fr);
  }
}
.sele__card{

}
.sele__card-number{
  color: $pc-red;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 1;
  margin-bottom: 16px;
  display: block;
  @include tab{
    font-size: 40px;
    margin-bottom: 8px;
  }
  @include sp{
    font-size: 32px;
  }
}
.sele__card-ttl{
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-bottom: 8px;
  @include tab{
    font-size: 16px;
  }
}
.sele__card-text{
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 2;
  color: $fc-l-black;
}
// select end

// example
.example{
  padding: 48px 40px 64px;
  background: $bgc-glay-grad;
  color: $fc-black;
  @include sp{
    padding: 24px 20px;
  }
}
.exam__cont{
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 40px;
  @include tab{
    grid-template-columns: repeat(2, 1fr);
  }
  @include sp{
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 32px;
    gap: 20px;
  }
}
.exam__card{
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}
.exam__card-img{
  width: 100%;
}
.exam__card-text{
  padding: 12px 20px;
}
.exam__card-ttl{
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-bottom: 8px;
}
.exam__card-caption{
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: $pc-red;
  font-weight: 600;
  margin-bottom: 16px;
}
.exam__issue-ttl{
  margin-bottom: 8px;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.exam__issue-list{
  color: $fc-l-black;
  margin-bottom: 24px;
  @include sp{
    margin-bottom: 16px;
  }
  li{
    margin-bottom: 8px;
    font-size: 14px;
    letter-spacing: 0.02em;
  }
  img{
    width: 24px;
    height: 24px;
    vertical-align: bottom;
    margin-right: 8px;
  }
}
.exam__result-ttl{
  margin-bottom: 8px;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.exam__result-list{
  li{
    margin-bottom: 8px;
    color: $fc-l-black;
    font-size: 14px;
    letter-spacing: 0.02em;
    span{
      font-weight: bold;
      font-size: 16px;
      color: $pc-red;
    }

    img{
      width: 24px;
      height: 24px;
      margin-right: 8px;
      vertical-align: bottom;
    }
  }
}
.exam__btn-cont{
  display: flex;
  gap: 32px;
  justify-content: center;
  @include sp{
    flex-wrap: wrap;
    gap: 16px;
  }
}
// example end

// plan
.plan{
  padding: 48px 40px 64px;
  background: $bgc-orange-grad;
  position: relative;
  @include sp{
    padding: 24px 20px;
  }
}
.plan__caption{
  max-width: 800px;
  width: 100%;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 2;
  color: $fc-l-black;
  margin: 0 auto 40px;
  @include tab{
    max-width: 100%;
    margin-bottom: 24px;
    font-size: 14px;
  }
}
.plan__card-cont{
  margin-bottom: 64px;
  @include tab{
    margin-bottom: 40px;
  }
}
.plan__card{
  position: relative;
}
.plan__label{
  position: absolute;
  top: 0;
  left: -12px;
  color: #fff;
  background-color: $pc-red;
  padding: 8px 12px;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1;
  transform: rotate(-15deg);
}
.plan__card-ttl{
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
  @include sp{
    font-size: 16px;
  }
}
.plan__card-price{
  font-weight: bold;
  font-size: 20px;
  color: $pc-red;
  margin-bottom: 8px;
  text-align: center;
  @include sp{
    font-size: 16px;
  }
}
.plan__card-for{
  text-align: center;
  margin-bottom: 12px;
  color: $fc-l-black;
  letter-spacing: 0.02em;
  font-size: 14px;
}
.plan__function-ttl{
  margin-bottom: 8px;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.plan__function-list{
  li{
    margin-bottom: 8px;
    font-size: 16px;
    letter-spacing: 0.02em;
    @include sp{
      font-size: 14px;
      display: flex;
      align-items: center;
    }
    .fas{
      font-size: 24px;
      margin-right: 8px;
      color: $pc-red;
      vertical-align: bottom;
      @include sp{
        font-size: 16px;
      }
    }
  }
}
.comparison{
  margin-bottom: 40px;
  @include sp{
    margin-bottom: 24px;
  }
}

.comp__ttl{
  font-size: 24px;
  padding-left: 16px;
  margin-bottom: 40px;
  border-left: 4px solid transparent;
  border-image: linear-gradient(180deg, #A52A2A 0%, #DC6343 100%);
  border-image-slice: 1; 
  @include tab{
    font-size: 20px;
    margin-bottom: 24px;
  }
  @include sp{
    margin-bottom: 24px;
  }
}
.comp__table{
  width: 100%;
  border: none;
  .comp__head-none{
    border: none;
  }
  th, td{
    text-align: center;
    padding: 12px;
    vertical-align: middle;
    border: none;
    font-size: 16px;
    @include sp{
      padding: 12px 8px;
      font-size: 12px;
    }
  }
  th{
    padding: 16px;
    @include sp{
      padding: 16px 8px;
    }
  }
  td{
    img{
      width: 32px;
      height: 32px;
      @include sp{
        width: 24px;
        height: 24px;
      }
    }
  }
  thead{
    th{
      &:nth-child(3){
        border: 2px solid $pc-red;
      }
    }
  }
  tbody{
    td{
      &:nth-child(2){
        border-left: 1px solid #eee;
      }
      &:nth-child(3){
        border-left: 2px solid $pc-red;
        border-right: 2px solid $pc-red;
      }
    }
    .bb-red{
      border-bottom: 2px solid $pc-red;
    }
  }
}


.comp__head-light{
  background-color: #f7f7f7;
}
.comp__head-standard{
  background-color: $pc-red;
  color: $fc-white;
}
.comp__head-pro{
  background-color: #f7f7f7;
}
.comp__table-row--orange{
  background-color:#f7f7f7;
}
.comp__table-row--white{
  background-color: $bgc-white;
}

.plan__banner-cont{
  margin: 0 auto;
  max-width: 400px;
  img{
    width: 100%;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
}
// plan end

// question
.question{
  padding: 48px 40px 64px;
  background: $bgc-glay-grad;
  @include sp{
    padding: 24px 20px;
  }
}
.ques__card{
  max-width: 1000px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: $bgc-white;
  margin: 0 auto 24px;
  border: 1px solid $bgc-glay;
  position: relative;
  transition: all 0.3s ease-in-out;
  &:last-child{
    margin-bottom: 0;
  }
  @include tab{
    padding: 16px 20px;
  }
  @include sp{
    padding: 16px;
  }
}
.ques__card-upper{
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
  align-items: top;
  transition: all 0.3s ease-in-out;
  @include sp{
    margin-bottom: 0;
    gap: 8px;
  }
}
.ques__card-ttl{
  font-size: 16px;
  @include sp{
    font-size: 14px;
  }
}
.ques__card-number{
  font-size: 20px;
  color: $pc-red;
  font-weight: bold;
  @include sp{
    font-size: 14px;
  }
}
.ques__card-ttl{
  @include sp{
    width: 65%;
  }
}
.ques__card-answer{
  color: $fc-l-black;
  @include sp{
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 2;
  }
}
.ques__card-btn{
  top: 12px;
  right: 16px;
  width: 40px;
  height: 40px;
  background-color:$pc-red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: none;
  @include sp{
    display: block;
  }
}

.ques__card-btn::before,
.ques__card-btn::after {
  content: "";
  position: absolute;
  background-color: $bgc-white;
  transition: all 0.3s ease-in-out;
}

.ques__card-btn::before {
  width: 60%;
  height: 2px;
  top: 19px;
  left: 8px;
}

.ques__card-btn::after {
  width: 2px;
  height: 60%;
  top:  8px;
  left: 19px;
}

.turn.ques__card-btn::before,
.turn.ques__card-btn::after {
  -webkit-transform: translateY(0) rotate(135deg);
  -ms-transform: translateY(0) rotate(135deg);
  transform: translateY(0) rotate(135deg);
}

.ques__card-lower{
  display: flex;
  gap: 16px;
  transition: all 0.3s ease-in-out;
  @include sp{
    display: none;
    opacity: 0;
    margin-top: 8px;
    gap: 8px;
  }
  img{
    width: 24px;
    @include sp{
      width: 20px;
    }
  }
}
.ques__card-lower.show{
  display: flex;
  opacity: 1;
}
.ques__card-check{
  width: 32px;
  height: 32px;
  @include sp{
    width: 24px;
    height: 24px;
  }
}
.ques__btn-cont{
  display: flex;
  justify-content: center;
  gap: 32px;
  @include sp{
    gap: 24px;
    flex-wrap: wrap;
  }
}

// question end

// アニメーション
.fadein {
  opacity: 0; 
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.fadein.show{
  opacity: 1;
  transform: translateY(0);
}

.scroll-fadein {
  opacity: 0; 
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.scroll-fadein.show{
  opacity: 1;
  transform: translateY(0);
}