// 色の定義

// Primary Color
$pc-red:#a52a2a;
$pc-grad: linear-gradient(135deg, #A52A2A 0%, #DC6343 100%);

// Secondary-Color
$sc-orange:#d77a61;

// hover時
$hover-red:#8b2c2c;
$hover-orange:#b85c4d;
$hover-grad:linear-gradient(135deg, #8b2c2c 0%, #b85c4d 100%);

// Background-Color
$bgc-white:#fff;
$bgc-glay:#f0f0f0;
$bgc-orange:#ffe4dd;
$bgc-glay-grad:linear-gradient(135deg, #FFF 0%, #F0F0F0 100%);
$bgc-orange-grad:linear-gradient(135deg, #FFF 0%, #FFE4DD 100%);

// font-color
$fc-black:#2c2c2c;
$fc-white:#fff;


$MainColor:#363636;
$BaseColor1:#fff;
// $BaseColor2:;
// $AccentColor1:;
// $AccentColor2:;
// $InnerMask:rgba(54,54,54,0.6);
