/*
    header
*/
.header{
    padding:20px 40px;
    background: $bgc-white;
    color: $fc-black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    @include tab{
      padding: 16px 40px;
    }
    @include sp{
      padding: 16px 20px;
    }
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    a{
      display: block;
      width: 200px;
      height: 28px;
      transition: all 0.3s ease-in-out;
      @include tab{
        width: 170px;
        padding-top: 8px;
      }
      @include sp{
        width: 140px;
      }
      &:hover{
        opacity: 0.7;
      }
      img{
        width: 100%;
        height: auto;
        display: block;
      }
    }
}

.header__nav{
  }
  .menu-toggle {
    display: none;
    @include tab{
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 48px;
      width: 44px;
      padding: 0;
      position: relative;
      z-index: 100;
    }
  }

  .menu-icon {
    background-color: $pc-red;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.4s ease-in-out 0s;
    position: absolute;
    &:nth-child(1){
      top: 8px;
    }
    &:nth-child(2){
      top: 16px;
    }
    &:nth-child(3){
      top: 24px;
    }
  }
  .menu-label{
      font-size: 14px;
      color: $pc-red;
      padding: 0 4px;
      transition: all 0.3s ease-in-out 0s;
      position: absolute;
      top: 34px;
    }
  .header__nav-links{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 24px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    @include tab{
      display: none;
    }
    li{
      list-style: none;
      @include tab{
        width: 100%;
      }
      a{
        color: $fc-black;
        font-size: 16px;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover{
          color: $pc-red;
        }
        @include tab{
          font-size: 16px;
          transform: rotate(0.05deg);
        }
      }
    }
  }

  .active{
    .menu-toggle{
        // top: 8px;
      .menu-icon{
        @include tab{
          &:nth-child(1){
            -webkit-transform: translateY(0) rotate(225deg);
            -ms-transform: translateY(0) rotate(225deg);
            transform: translateY(0) rotate(225deg);
            position: absolute;
            top: 16px;
            background-color: $fc-white;
          }
          &:nth-child(2){
            -webkit-transform: translateY(0) rotate(-225deg);
            -ms-transform: translateY(0) rotate(-225deg);
            transform: translateY(0) rotate(-225deg);
            background-color: $fc-white;
          }
          &:nth-child(3){
            display: none;
          }
        }
      }
      .menu-label{
        color: $fc-white;
      }
    }
    .header__nav-links{
      @include tab{
        display: block;
        position: absolute;
        height: 100vh;
        background: $pc-grad;
        top: 0;
        width: 100%;
        left: 0;
        padding: 80px 24px 24px;
        text-align: center;
        transition: all 0.3s ease-in-out;
      }
    }
      li{
        a{
          @include tab{
            display: block;
            padding: 24px;
            border-bottom: 1px solid $bgc-white;
            color: $fc-white;
          }
        }
      }
    }
  
/*
    header end
*/